body {
    background: url(gravel.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    position: relative; 
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #cccccc;
}

h1 {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    height: 100px;
    margin-top: 0;
    left: 270px;
    /* next 3 lines center text */
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    padding: 0 10px 0 10px;
}

nav {
    position: absolute;
    right: 270px;
    /* next 3 lines center text */
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

a {
    text-decoration: none;
    color: #777777; 
}

.portfolio {
    border-left: thin solid black;
    padding: 0 5px 0 10px;
}

.about {
    padding: 0 5px 0 0;
}

.contact {
    border-left: thin solid black; 
    padding: 0 0 0 10px;
}

section {
    position: relative;
    top: 50px;
    background-color: white;
    height: 400px;
    width: 960px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    color: #ffffff;
}


h2 {
    color: #4aaaa5;
    margin: 0;
}

hr {
    margin: 20px 0 20px 0;
}

img {
    float: left;
    padding: 0 10px 0 0;
    margin-right: 20px; 
}

p {
    display: inline;
    font-size: 16pt;
    color: #777777
}

footer {
    position: fixed;
    border-top: 5px solid #4aaaa5;
    height: 40px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #666666
}

div {
    position: relative;
    top: 20px;
    color: white;
}